bot_token: 12345:token
servers:
    - name: Name For List
      ip: 1.2.3.4
      login: root
      pass: abcdefg
      allowed_uids:
          - 12345678
      report_uids:
          - 12345678
      last_connected: 2000-01-01T00:00:00Z
